.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-light);
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 6rem;
  align-items: flex-start;
  position: relative;
  overflow-y: auto;
}

.main-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  position: relative;
  background-color: var(--background-light);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-lg);
}

.content {
  height: fit-content;
  color: var(--text-secondary);
}